body {
    font-family: "Open Sans Condensed", "Darker Grotesque", "Trebuchet MS", "Arial Narrow", Helvetica, sans-serif;
    font-size: 1rem;
    color: #f7f0e6;
    text-align: left;
    background-color: #015075;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
@media screen and (min-width: 1024px) {
    body {
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5rem;
    }
}

/* HEADER & LINKS */
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.leftheader {
    text-align: left;
    margin: 2em auto 0 2em;
}
.rightheader {
    text-align: right;
    margin: 2em 2em 0 0;
}
nav ul {
    list-style-type: none;
}
a:link, a:visited {
    color: #f7f0e6;
    text-decoration: none;
}
a:focus, a:hover {
    font-weight: bold;
    color: #95bb9f;
}
a:active {
    color: #893121;
}
  
/* INDEX */
.aboutme {
    background-color: #409b8a;
    padding: 1.5em;
    border: 1px solid #f7f0e6;
    margin: 24em 0 5em;
}
@media screen and (min-width: 1024px) {
    .aboutme {
        text-align: justify;
        padding: 2em;
        margin: 24em 2em 5em;
    }
}
@media screen and (min-width: 1200px) {
    .aboutme {
        padding: 2.5em 3em;
        margin: 24em 3em 5em;
    }
}
  
/* RESUME */
.resumeintro {
    display: flex;
    flex-flow: row wrap;
    background-color: #015075;
    padding: 1em 1.5em;
    border: 1px solid #f7f0e6;
    margin: 24em 0 0;
}
.biopic {
    padding: 0;
    border: none;
}
.resumepic {
    border: 1px solid #f7f0e6;
}
.contactinfo {
    padding: 1em 0 0 .5em;
    border: none;
}
.intro {
    padding: 0;
    border: none;
}
.resume1 {
    background-color: #015075;
    padding: 1em 1.5em;
    border: 1px solid #f7f0e6;
    margin: 2em 0;
}
ul {
    list-style-type: square;
}
.resume2 {
    text-align: center;
    border: none;
    margin: 0 0 5em;
}
.projectpics {
    border: none;
    margin: -1.5em 0 0;
}
.topfont {
    font-size: 2em;
    text-align: center;
}
@media screen and (min-width: 1024px) {
    .contactinfo {
        padding: 1em 0 0 1.5em;
    }
    .resumeintro {
        text-align: justify;
        padding: 1.5em 2em;
        margin: 24em 2em 0;
    }
    .resume1 {
        text-align: justify;
        padding: 1.5em 2em;
        margin: 3em 2em;
    }
}
@media screen and (min-width: 1200px) {
    .contactinfo {
        padding: 1em 0 0 2em;
    }.resumeintro {
        padding: 2em 3em;
        margin: 24em 3em 0;
    }
    .resume1 {
        padding: 2em 3em;
        margin: 3em;
    }
}
  
/* PLAY */
.playsites {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 24em 0 5em;
}
.miscsites1 {
    text-align: left;
    background-color: #933320;
    padding: 1em;
    border: 1px solid #f7f0e6;
    margin: .5em;
}
.miscsites2 {
    text-align: center;
    background-color: #933320;
    border: 1px solid #f7f0e6;
    margin: .5em;
}
.websitelists {
    list-style-type: none;
}
  
/* CHLOE */
.chloelayout {
    display: flex;
    flex-flow: row wrap;
    padding: .5em;
    border: none;
    margin: 24em 0 5em;
}
.aboutchloe {
    border: none;
}
.spca {
    list-style-type: none;
}
b, dt {
    font-size: 2rem;
}
hr {
    border: 1px solid #f7f0e6;
}
@media screen and (min-width: 1024px) {
    .chloelayout {
        text-align: justify;
        padding: 1.5em;
        margin: 24em 2em 5em;
    }
}
