body {
  font-family: "Open Sans Condensed", Arial Narrow, Trebuchet MS, Helvetica, Verdana, sans-serif;
  font-size: 1.25rem;
  text-align: justify;
  color: #f7f0e6;
  background-color: #015075;
}
header {
  display: flex;
}
.leftheader {
  flex-basis: 50%;
  text-align: left;
  margin: 2rem 0 0 2.5rem;
}
.rightheader {
  flex-basis: 50%;
  text-align: right;
  margin: 2.5rem 2.5rem;
}
nav ul {
  list-style-type: none;
}

/* ALL LINK STATES */
a:link {
  color: #f7f0e6;
  text-decoration: none;
}
a:visited {
  color: #f7f0e6;
}
a:hover {
  font-weight: bold;
  color: #95bb9f;
}
a:active {
  color: #893121;
}

/* HOME STYLESHEET */
.aboutme {
  background-color: #409b8a;
  margin: 25rem 2rem 10rem;
  border: 1px solid #f7f0e6;
  padding: 3rem 2.5rem;
}

/* RESUME STYLESHEET */
.resumeintro {
  display: flex;
  margin: 10rem 0 0 1rem;
  border: none;
}
.biopic {
  flex-basis: 20%;
  border: none;
}
.jlbiopic {
  border: 1px solid #f7f0e6;
}
.contactinfo {
  flex-basis: 80%;
  text-align: left;
  margin: 2rem 0 0;
  border: none;
}
.resume1 {
  background-color: #015075;
  margin: 1rem 2rem 3rem;
  border: 1px solid #f7f0e6;
  padding: 1rem 2.5rem;
}
ul {
  list-style-type: square;
}
.resume2 {
  display: flex;
  text-align: center;
  margin: 1rem 2rem 25rem;
  border: none;
  padding: 1rem 1.5rem;
}
.projectpics {
  flex-basis: 50%;
  border: none;
}
.topfont {
  font-size: 2rem;
  text-align: center;
}

/* PLAY STYLESHEET */
.playsites1 {
  display: flex;
  margin: 8rem 2rem 1rem;
  border: 1px solid #f7f0e6;
  text-align: left;
}
.playsites2 {
  display: flex;
  margin: 1rem 2rem;
  border: 1px solid #f7f0e6;
  text-align: left;
}
.playsites3 {
  display: flex;
  margin: 1rem 2rem 10rem;
  border: none;
  text-align: left;
}
.miscsites {
  flex-basis: 50%;
  border: none;
}
.websitelists {
  list-style-type: none;
}

/* CHLOE STYLESHEET */
.chloelayout {
  display: flex;
  margin: 1rem 2rem 10rem;
  border: none;
  padding: 3rem 2.5rem;
}
.aboutchloe1 {
  flex-basis: 30%;
  margin: 3.5rem;
  border: none;
}
.aboutchloe2 {
  flex-basis: 70%;
  margin: 1rem 2rem;
  border: none;
}
