body {
    font-family: "Open Sans Condensed", "Trebuchet MS", Helvetica, Verdana, sans-serif;
    font-size: 1.25rem;
    color: #f7f0e6;
    text-align: justify;
    background-color: #015075;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* HEADER & LINKS */
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.leftheader {
    text-align: left;
    margin: 2em auto 0 2em;
}
.rightheader {
    text-align: right;
    margin: 2em 2em 0 0;
}
nav ul {
    list-style-type: none;
}
a:link, a:visited {
    color: #f7f0e6;
    text-decoration: none;
}
a:focus, a:hover {
    font-weight: bold;
    color: #95bb9f;
}
a:active {
    color: #893121;
}
  
/* INDEX */
.aboutme {
    background-color: #409b8a;
    padding: 1.5em;
    border: 1px solid #f7f0e6;
    margin: 24em .5em 5em;
}
  
/* RESUME */
.resumeintro {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    background-color: #015075;
    padding: 1.5em;
    border: 1px solid #f7f0e6;
    margin: 24em .5em 0;
}
.biopic {
    padding: 0;
    border: none;
}
.resumepic {
    border: 1px solid #f7f0e6;
}
.contactinfo {
    padding: 1em 0 0 .5em;
    border: none;
}
.intro {
    padding: 0;
    border: none;
}
.resume1 {
    text-align: left;
    background-color: #015075;
    padding: 1.5em;
    border: 1px solid #f7f0e6;
    margin: 2em .5em;
}
ul {
    list-style-type: square;
}
.resume2 {
    text-align: center;
    border: none;
    margin: 0 0 5em;
}
.projectpics {
    border: none;
    margin: -1.5em 0 0;
}
.topfont {
    font-size: 2em;
    text-align: center;
}
  
/* PLAY */
.playsites {
    display: flex;
    text-align: left;
    flex-flow: row wrap;
    background-color: #933320;
    padding: 1em;
    border: 1px solid #f7f0e6;
    margin: 24em .5em 5;
}
.miscsites1 {
    text-align: left;
    border: 1px solid #f7f0e6;
}
.miscsites2 {
    text-align: center;
    border: 1px solid #f7f0e6;
}
.websitelists {
    list-style-type: none;
}
  
/* CHLOE */
.chloelayout {
    display: flex;
    border: none;
    margin: 24em .5em 5em;
}
.aboutchloe1 {
    border: none;
    margin: 2em .5em;
}
.aboutchloe2 {
    border: none;
}
